<div class="wrapper">
  <div class="header">
    <form #someForm="ngForm">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Country Name</mat-label>
        <input
          type="text"
          placeholder="Enter Country name"
          name="country input"
          #countryinput
          matInput
          ngModel
          (keyup)="findCountryByName(countryinput.value)"
          [matAutocomplete]="auto2"
        />
        <mat-autocomplete #auto2="matAutocomplete">
          <mat-option
            *ngFor="let country of countryList"
            [value]="country.name"
            (click)="findCountryByName(countryinput.value)"
          >
            {{ country.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>

  <div class="body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>

            <th scope="col">Capital</th>
            <th scope="col">Region</th>
            <th scope="col">Population</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let country of countryList; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ country.name }}</td>
            <td>{{ country.capital }}</td>
            <td>{{ country.region }}</td>
            <td>{{ country.population }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
